body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    color: rgba(218,165,32,0.7);
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
    border-radius: 50%;
}

.div1 {
	padding: 10px 5px;
	background-color: rgba(0,0,0,0.9);
	border-radius: 10%;
}
